<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Document</title>

</head>
<body>
  <form method="POST">
    <p>Keresés</p>
    <p>
      <label>Szem szín keresése: </label>
      <input type = "text" name ="szem_szin">
    </p>
    </form>
    <form method="POST">
<br>
    <p>Macskák felvételel</p>
    <label>szem_szín: </label>
    <input type="text" name="szem_szin" required>
    
    <label>súly: </label>
    <input type="number" name="suly" required>
<br>
    <input type="submit" value="felvétel">
  </form>

  <br>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
